<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta charset="utf-8">
    <title>Editor</title>
    {{ form.media }}
    <style>
        .back-home {
            color: #007bff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <a href='/'><i class="fas fa-arrow-left"></i> </a>  
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</body>
</html>